@{
    ViewBag.Title = "Download do Instalador";
}
<input type="hidden" id="IdInstalador" value="@ViewBag.IdInstalador" />

<div class="row offset-5">
    <div id="imgDownload">
        <img src="~/Content/loading.gif" alt="Carregando...">
    </div>
    <div id="lnkDownload" class="alert alert-success" role="alert">
        <a href="~/Home/DownloadBin/@ViewBag.IdInstalador">Clique aqui para baixar o instalador</a>
    </div>
    <div id="msgErro" class="alert alert-danger" role="alert">
        Erro, verifique o log abaixo
    </div>
</div>

<hr />

<div class="row offset-1 form-group">
    <div>
        <label for="txtMensagensProgresso">Detalhes:</label>
        <div class="alert alert-light" role="alert" id="txtMensagensProgresso">
        </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jsDownload.js")"></script>
}
